.DS_Store
out/
apps/
helms/
commands

**.decrypted~**
charts/blockscout-stack/key.*.pub
charts/blockscout-stack/key.*.sec
**node_optimism**

**.dec**
tokens.compare
tests/zbroken
tests/e2e/getGenesisData.js
tests/custom_abi.json
api_v2_metrics_dashboard.json
tests/owned_verified.txt

.idea/
tests/e2e/.envrc
tests/e2e/.envrc.prod
tests/node_modules
tests/e2e/node_modules
tests/.envrc.local
tests/.airtable
/tests/load/tests/.envrc
/tests/load/tests/data/eth-tx-summary-txs.json
/tests/load/tests/data/eth-tx-summary-txs-random.json
/tests/load/tests/data/eth-tx-summary-txs-random-2.json
/tests/releases/icb-testnet.blockscout.com-undefined-v1-api.json
/tests/mainnets.json
/tests/load/tests/data/multichain-astar.json
/tests/load/tests/data/multichain-redstone.json
/tests/load/tests/data/multichain-zkevm.json
/tests/load/tests/data/multichain-zksync-era.json
/tests/load/tests/data/multichain-zksync-sepolia.json
/tests/load/tests/data/sepolia-dev-tx-summary-txs.json
/tests/load/tests/data/sepolia-dev-tx-summary-txs-random.json
/tests/e2e/tags.json
/tests/testnets.json
/tests/load/tests/data/tx-summary-custom.json
