.DS_Store
out/
apps/
helms/
commands

**.decrypted~**
charts/blockscout-stack/key.*.pub
charts/blockscout-stack/key.*.sec
**node_optimism**

**.dec**
tokens.compare
tests/zbroken
tests/e2e/getGenesisData.js
