BLOCKSCOUT_URLS=(
  "https://eth.blockscout.com"
)
export BLOCKSCOUT_URL=$(IFS=,; echo "${BLOCKSCOUT_URLS[*]}")
TEST_DATA_FILES=(
  "data/ethereum.json"
)
LOAD_TAGS=(
  "eth-blockscout-v2-api-debug"
)

K6_OUT=$replace_me
K6_OUT_FILE=json=releases/eth-v7.2.0.json
REQUEST_TIMEOUT=30000