{{- if .Values.visualizer.enabled }}
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}-visualizer
spec:
  replicas: {{ .Values.visualizer.replicas.app }}
  strategy:
    type: {{ .Values.visualizer.strategy }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-visualizer
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-visualizer
      annotations:
        rollme: {{ randAlphaNum 5 | quote }}
    spec:
      containers:
        - name: {{ .Release.Name }}-visualizer
          image: {{ pluck $.Values.global.env .Values.visualizer.image | first | default .Values.visualizer.image._default | quote }}
          resources:
          {{- with .Values.visualizer.resources }}
            limits:
              memory: {{ pluck $.Values.global.env .limits.memory | first | default .limits.memory._default | quote }}
              cpu: {{ pluck $.Values.global.env .limits.cpu | first | default .limits.cpu._default | quote }}
            requests:
              memory: {{ pluck $.Values.global.env .requests.memory | first | default .requests.memory._default | quote }}
              cpu: {{ pluck $.Values.global.env .requests.cpu | first | default .requests.cpu._default | quote }}
          {{- end }}
          imagePullPolicy: Always
          ports:
            - containerPort: {{ .Values.visualizer.docker.targetPort }}
            - containerPort: {{ .Values.visualizer.docker.metricsPort }}
              name: http-metrics
          env:
{{- include "visualizer_env" . | indent 10 }}
          # volumeMounts:
          #   - name: {{ .Release.Name }}-logs
          #     mountPath: /usr/local/path
          {{- if .Values.visualizer.livenessProbe.enabled }}
          readinessProbe:
            httpGet:
              path: {{ .Values.visualizer.livenessProbe.path }}
              port: {{ .Values.visualizer.docker.targetPort }}
              scheme: HTTP
            initialDelaySeconds: 60
            periodSeconds: 10
          {{- end }}
          {{- if .Values.visualizer.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: {{ .Values.visualizer.livenessProbe.path }}
              port: {{ .Values.visualizer.docker.targetPort }}
              scheme: HTTP
            initialDelaySeconds: 100
            periodSeconds: 100
          {{- end }}
      # volumes:
      #   - name: {{ .Release.Name }}-logs
      #     emptyDir: { }
      #   - name: config
      #     configMap:
      #       name: {{ .Release.Name }}-promtail-configmap
      restartPolicy: Always
      {{- if .Values.visualizer.nodeSelector.enabled }}
      nodeSelector:
      {{- range $key, $value := .Values.visualizer.nodeSelector.labels }}
        {{ $key }}: {{ $value }}
      {{- end }}
      {{- end }}
---
{{- end}}
