{{- if .Values.blockscout.enabled }}
{{- if .Values.blockscout.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: internal-and-public
    nginx.ingress.kubernetes.io/proxy-body-size: 500m
    nginx.ingress.kubernetes.io/client-max-body-size: "500M"
    nginx.ingress.kubernetes.io/proxy-buffering: "off"
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "15m"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "15m"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "15m"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    {{- if .Values.blockscout.ingress.tls.enabled }}
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    cert-manager.io/cluster-issuer: "zerossl-prod"
    {{- end}}
    {{- range .Values.blockscout.ingress.annotations }}
    {{ . }}
    {{- end}}
  name: {{ .Release.Name }}-blockscout-ingress
spec:
  rules:
    - host: {{ pluck $.Values.global.env .Values.blockscout.ingress.host | first | default .Values.blockscout.ingress.host._default | quote }}
      http:
        paths:
        {{- range .Values.blockscout.ingress.path.exact }}
          - path: {{ . }}
            pathType: Exact
            backend:
              service:
                name: {{ $.Release.Name }}-blockscout-svc
                port:
                  number: {{ $.Values.blockscout.docker.port }}
        {{- end }}
        {{- range .Values.blockscout.ingress.path.prefix }}
          - path: {{ . }}
            pathType: Prefix
            backend:
              service:
                name: {{ $.Release.Name }}-blockscout-svc
                port:
                  number: {{ $.Values.blockscout.docker.port }}
        {{- end }}
  {{- if .Values.blockscout.ingress.tls.enabled }}
  tls:
    - hosts:
        - {{ pluck $.Values.global.env .Values.blockscout.ingress.host | first | default .Values.blockscout.ingress.host._default | quote }}
      secretName: {{ .Release.Name }}-{{ .Values.blockscout.app }}-tls
  {{- end}}
---
{{- end }}
{{- end }}
