{{- if .Values.stats.enabled }}
{{- if .Values.stats.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: internal-and-public
    nginx.ingress.kubernetes.io/proxy-body-size: 500m
    nginx.ingress.kubernetes.io/client-max-body-size: "500M"
    nginx.ingress.kubernetes.io/proxy-buffering: "off"
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "15m"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "15m"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "15m"
    cert-manager.io/cluster-issuer: "zerossl-prod"
  name: {{ .Release.Name }}-stats-ingress
spec:
  rules:
    - host: {{ pluck $.Values.global.env .Values.stats.ingress.host | first | default .Values.stats.ingress.host._default | quote }}
      http:
        paths:
          # - path: "/metrics"
          #   pathType: Exact
          #   backend:
          #     service:
          #       name: stats-svc
          #       port:
          #         number: {{ .Values.stats.docker.metricsPort }}
          - path: "/"
            pathType: Prefix
            backend:
              service:
                name: stats-svc
                port:
                  number: {{ .Values.stats.docker.port }}
  {{- if .Values.stats.ingress.tls.enabled }}
  tls:
    - hosts:
        - {{ pluck $.Values.global.env .Values.stats.ingress.host | first | default .Values.stats.ingress.host._default | quote }}
      {{- if .Values.stats.ingress.tls.createSecret }}
      secretName: {{ .Release.Name }}-stats-tls
      {{- end }}
  {{- end }}
{{- end }}
{{- end }}
