{{- if .Values.scVerifier.enabled }}
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}-sc-verifier
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "http-metrics"
spec:
  replicas: {{ .Values.scVerifier.replicas.app }}
  strategy:
    type: {{ .Values.scVerifier.strategy }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-sc-verifier
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-sc-verifier
      annotations:
        rollme: {{ randAlphaNum 5 | quote }}
    spec:
      # serviceAccountName: vault-auth
      containers:
        - name: {{ .Release.Name }}-sc-verifier
          image: {{ pluck $.Values.global.env .Values.scVerifier.image | first | default .Values.scVerifier.image._default | quote }}
          resources:
          {{- with .Values.scVerifier.resources }}
            limits:
              memory: {{ pluck $.Values.global.env .limits.memory | first | default .limits.memory._default | quote }}
              cpu: {{ pluck $.Values.global.env .limits.cpu | first | default .limits.cpu._default | quote }}
            requests:
              memory: {{ pluck $.Values.global.env .requests.memory | first | default .requests.memory._default | quote }}
              cpu: {{ pluck $.Values.global.env .requests.cpu | first | default .requests.cpu._default | quote }}
          {{- end }}
          imagePullPolicy: Always
          ports:
          {{- range $key, $value := .Values.scVerifier.ports }}
            - containerPort: {{ toYaml $value.number | indent 2 }}
              name: {{ $key }}
          {{- end }}
          env:
{{- include "scVerifier_env" . | indent 10 }}
          # volumeMounts:
          #   - name: {{ .Release.Name }}-logs
          #     mountPath: /usr/local/gkretail/sm-web-server/log
          {{- if .Values.scVerifier.readinessProbe.enabled }}
          readinessProbe:
            httpGet:
              path: {{ .Values.scVerifier.readinessProbe.path }}
              port: {{ .Values.scVerifier.ports.http.number }}
              scheme: HTTP
            {{- with .Values.scVerifier.readinessProbe.params }}
            {{ . | toYaml | nindent 12 }}
            {{- end }}
          {{- end }}
          {{- if .Values.scVerifier.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: {{ .Values.scVerifier.livenessProbe.path }}
              port: {{ .Values.scVerifier.ports.http.number }}
              scheme: HTTP
            {{- with .Values.scVerifier.livenessProbe.params }}
            {{ . | toYaml | nindent 12 }}
            {{- end }}
          {{- end }}
      # volumes:
      #   - name: {{ .Release.Name }}-logs
      #     emptyDir: { }
      #   - name: config
      #     configMap:
      #       name: {{ .Release.Name }}-promtail-configmap
      restartPolicy: Always
      {{- if .Values.scVerifier.nodeSelector.enabled }}
      nodeSelector:
      {{- pluck $.Values.global.env .Values.scVerifier.nodeSelector.labels | first | default .Values.scVerifier.nodeSelector.labels._default | toYaml | nindent 8 }}
      {{- end }}
---
{{- end}}
