{{- if .Values.geth.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-geth
spec:
  replicas: {{ .Values.geth.replicas.app }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: {{ .Release.Name }}-geth
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-geth
    spec:
      {{- if .Values.geth.init.enabled }}
      initContainers:
        - name: init
          image: {{ pluck $.Values.global.env .Values.geth.init.image | first | default .Values.geth.init.image._default | quote }}
          resources:
          {{- with .Values.geth.resources }}
            limits:
              memory: {{ pluck $.Values.global.env .limits.memory | first | default .limits.memory._default | quote }}
              cpu: {{ pluck $.Values.global.env .limits.cpu | first | default .limits.cpu._default | quote }}
            requests:
              memory: {{ pluck $.Values.global.env .requests.memory | first | default .requests.memory._default | quote }}
              cpu: {{ pluck $.Values.global.env .requests.cpu | first | default .requests.cpu._default | quote }}
          {{- end }}
          {{- with .Values.geth.init.command }}
          command:  {{ . | toYaml | nindent 12 }}
          {{- end }}
          {{- with .Values.geth.init.args }}
          args: {{ . | toYaml | nindent 12 }}
          {{- end }}
          env:
            {{- include "geth_env" . | indent 10 }}
        {{- if .Values.geth.init.volumes.enabled }}
          {{- range $key, $value := .Values.geth.init.volumes.list }}
          volumeMounts:
            - name: {{ $key }}
              mountPath: {{ toYaml $value | indent 2 }}
          {{- end }}
        {{- end }}
      {{- end }}
      containers:
        - name: geth
          image: {{ pluck $.Values.global.env .Values.geth.image | first | default .Values.geth.image._default | quote }}
          {{- if .Values.geth.command }}
          {{- with .Values.geth.command }}
          command:  {{ . | toYaml | nindent 12 }}
          {{- end }}
          {{- end }}
          {{- if .Values.geth.args }}
          {{- with .Values.geth.args }}
          args: {{ . | toYaml | nindent 12 }}
          {{- end }}
          {{- end }}
          # args: [ "--http", "--http.addr=0.0.0.0", "--http.vhosts=geth-mainnet-full", "--http.api=eth,net,web3,txpool", "--ws", "--ws.addr=0.0.0.0", "--datadir=/data", ]
          resources:
            {{- with .Values.geth.resources }}
            limits:
              memory: {{ pluck $.Values.global.env .limits.memory | first | default .limits.memory._default | quote }}
              cpu: {{ pluck $.Values.global.env .limits.cpu | first | default .limits.cpu._default | quote }}
            requests:
              memory: {{ pluck $.Values.global.env .requests.memory | first | default .requests.memory._default | quote }}
              cpu: {{ pluck $.Values.global.env .requests.cpu | first | default .requests.cpu._default | quote }}
            {{- end }}
          env:
            {{- include "geth_env" . | indent 10 }}
          ports:
          {{- range $key, $value := .Values.geth.client.ports }}
            - containerPort: {{ toYaml $value.number | indent 2 }}
              name: {{ $key }}
          {{- end }}
          volumeMounts:
            {{- if .Values.geth.persistence.enabled }}
            - name: geth
              mountPath: {{ .Values.geth.persistence.mountPath }}
            {{- end }}
            {{- if .Values.geth.jwt.enabled }}
            - mountPath: {{ .Values.geth.jwt.mountPath }}
              name: jwt
              subPath: jwtsecret
            {{- end }}
            {{- if .Values.geth.files.enabled }}
              {{- range $key, $value := .Values.geth.files.list }}
            - mountPath: {{ $.Values.geth.files.mountPath }}/{{ $key }}
              name: geth-cm
              subPath: {{ $key }}
              {{- end }}
            {{- end }}
      {{- if .Values.geth.client.enabled }}
        - name: client
          image: {{ pluck $.Values.global.env .Values.geth.client.image | first | default .Values.geth.client.image._default | quote }}
          {{- if .Values.geth.client.command }}
          {{- with .Values.geth.client.command }}
          command:  {{ . | toYaml | nindent 12 }}
          {{- end }}
          {{- end }}
          {{- if .Values.geth.client.args }}
          {{- with .Values.geth.client.args }}
          args: {{ . | toYaml | nindent 12 }}
          {{- end }}
          {{- end }}
          resources:
            {{- with .Values.geth.client.resources }}
            limits:
              memory: {{ pluck $.Values.global.env .limits.memory | first | default .limits.memory._default | quote }}
              cpu: {{ pluck $.Values.global.env .limits.cpu | first | default .limits.cpu._default | quote }}
            requests:
              memory: {{ pluck $.Values.global.env .requests.memory | first | default .requests.memory._default | quote }}
              cpu: {{ pluck $.Values.global.env .requests.cpu | first | default .requests.cpu._default | quote }}
            {{- end }}
          env:
            {{- include "client_env" . | indent 10 }}
          ports:
          {{- range $key, $value := .Values.geth.client.ports }}
            - containerPort: {{ toYaml $value.number | indent 2 }}
              name: {{ $key }}
          {{- end }}
          volumeMounts:
            {{- if .Values.geth.client.persistence.enabled }}
            - name: client
              mountPath: {{ .Values.geth.client.persistence.mountPath }}
            {{- end }}
            {{- if .Values.geth.jwt.enabled }}
            - mountPath: {{ .Values.geth.jwt.mountPath }}
              name: jwt
              subPath: jwtsecret
            {{- end }}
            {{- if .Values.geth.client.files.enabled }}
              {{- range $key, $value := .Values.geth.client.files.list }}
            - mountPath: /root/{{ $key }}
              name: client-cm
              subPath: {{ $key }}
              {{- end }}
            {{- end }}
      {{- end }}
      {{- if .Values.geth.nodeSelector.enabled }}
      nodeSelector:
      {{- pluck $.Values.global.env .Values.geth.nodeSelector.labels | first | default .Values.geth.nodeSelector.labels._default | toYaml | nindent 8 }}
      {{- end }}
      volumes:
        - name: jwt
          secret:
            secretName: jwt
        {{- if .Values.geth.files.enabled }}
        - configMap:
            name: geth-cm
            defaultMode: 0777
          name: geth-cm
        {{- end }}
        {{- if .Values.geth.client.files.enabled }}
        - configMap:
            name: client-cm
            defaultMode: 0777
          name: client-cm
        {{- end }}
        {{- if .Values.geth.persistence.enabled }}
        - name: geth
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-geth
        {{- end }}
        {{- if .Values.geth.client.persistence.enabled }}
        - name: client
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-client
        {{- end }}
---
{{- end }}
