name: E2E K8s account

on:
  push:
  # workflow_dispatch:
  pull_request:

env:
  K8S_LOCAL_PORT: ${{ secrets.K8S_LOCAL_PORT }}
  K8S_HOST: ${{ secrets.K8S_HOST }}
  BASTION_HOST: ${{ secrets.BASTION_HOST }}
  K8S_PORT: ${{ secrets.K8S_PORT }}
  USERNAME: ${{ secrets.USERNAME }}
  BASTION_SSH_KEY: ${{secrets.BASTION_SSH_KEY}}

jobs:
  deploy_and_tests:
    uses: blockscout/blockscout-ci-cd/.github/workflows/e2e_new.yaml@fix-e2e-tests
    with:
      valuesDir: charts/blockscout-stack/values/e2e-account
      # appNamespace: e2e-test-account
      appName: e2e-bs-stack
      blockscoutIngressHost: blockscout
      frontendIngressHost: frontend
      gethIngressHost: geth
      scVerifierIngressHost: sc-verifier
    secrets: inherit
