name: Admin console tests
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  push:
  schedule:
    - cron: '0 */3 * * *'
env:
  ENV: prod
  BLOCKSCOUT_URL: ${{ secrets.E2E_BLOCKSCOUT_URL }}
  FRONTEND_URL: ${{ secrets.E2E_FRONTEND_URL }}
  NETWORK_URL: ${{ secrets.E2E_NETWORK_URL }}
  ACCOUNT_USERNAME: ${{ secrets.ACCOUNT_USERNAME }}
  ACCOUNT_PASSWORD: ${{ secrets.ACCOUNT_PASSWORD }}
  MAILSLURP_API_KEY: ${{ secrets.MAILSLURP_API_KEY }}
  MAILSLURP_EMAIL_ID: ${{ secrets.MAILSLURP_EMAIL_ID }}
  RESOURCE_MODE: account
  PUBLIC: false
  PORT: 4000
  PORT_PG: 5432
  PORT_NETWORK_HTTP: 8545
  PORT_NETWORK_WS: 8546
  WALLET: ${{ secrets.WALLET }}
  PWDEBUG: 0
  PROD: 1
jobs:
  test:
    name: Admin console tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: v14.17.0
      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install deps
        run: npm ci
      - name: Lint
        run: npm run lint
      - name: Build contracts
        working-directory: ./tests/contracts
        run: |
          # gyp build from root
          npm config set user 0
          npm ci
          npm run build
      - name: Cache playwright binaries
        uses: actions/cache@v2
        id: playwright-cache
        with:
          path: |
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-build-${{ env.cache-name }}
          restore-keys: ${{ runner.os }}-build-${{ env.cache-name }}
      - name: Install Playwright
        if: steps.playwright-cache.outputs.cache-hit != 'true'
        run: npx playwright install --with-deps
      - name: Run playwright
        run: |
          npm run test:admin
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: report
          path: tests/e2e/html-report/index.html
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: tests-results
          path: blockscout-ci-cd/tests/e2e/test-results
      
defaults:
  run:
    shell: bash
    working-directory: ./tests/e2e
