name: E2E K8s account

on:
  push:

env:
  K8S_LOCAL_PORT: ${{ secrets.K8S_LOCAL_PORT }}
  K8S_HOST: ${{ secrets.K8S_HOST }}
  BASTION_HOST: ${{ secrets.BASTION_HOST }}
  K8S_PORT: ${{ secrets.K8S_PORT }}
  USERNAME: ${{ secrets.USERNAME }}
  BASTION_SSH_KEY: ${{secrets.BASTION_SSH_KEY}}

jobs:
  deploy_e2e_account:
    needs: push_to_registry
    uses: blockscout/blockscout-ci-cd/.github/workflows/deploy.yaml@master
    with:
      valuesDir: charts/blockscout-stack/values/e2e-account
      appNamespace: e2e-test-account
      appName: e2e-bs-stack
    secrets: inherit
