name: Load Browser
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  workflow_dispatch:
    inputs:
      test_name:
        description: 'Test name'
        default: ci-api-browser
      url:
        description: 'Environment Root URL'
        required: true
        default: 'https://eth-sepolia.blockscout.com'
        type: choice
        options:
          - https://eth-goerli-alloydb.k8s.blockscout.com
          - https://eth.k8s-prod-1.blockscout.com
          - https://eth-goerli.blockscout.com
          - https://eth-sepolia.blockscout.com
          - https://gnosis.blockscout.com
          - https://eth.blockscout.com
      request_timeout:
        description: 'Global request timeout'
        required: true
        default: 20000
    
jobs:
  browser:
    name: Run Blockscout Browser Metrics Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: v16.14.0
      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install deps
        run: npm ci
      - name: Run v1/v2 Browser Test
        env:
          LOKI_URL: ${{ secrets.LOKI_URL }}
          BASE_URL: ${{ inputs.url }}
          ITERATIONS: 5
          VUS: 1
          K6_BROWSER_ENABLED: true
          K6_BROWSER_HEADLESS: true
        run: |
          PAGE="/blocks" ./bin_k6/k6-tsdb-linux run src/frontend.browser.test.suite.ts
          PAGE="/txs" ./bin_k6/k6-tsdb-linux run src/frontend.browser.test.suite.ts
          PAGE="/ops" ./bin_k6/k6-tsdb-linux run src/frontend.browser.test.suite.ts
          PAGE="/tokens" ./bin_k6/k6-tsdb-linux run src/frontend.browser.test.suite.ts
          PAGE="/accounts" ./bin_k6/k6-tsdb-linux run src/frontend.browser.test.suite.ts
          PAGE="/address/0x54FA517F05e11Ffa87f4b22AE87d91Cec0C2D7E1?tab=token_transfers" ./bin_k6/k6-tsdb-linux run src/frontend.browser.test.suite.ts
          PAGE="/token/0x183209DA02C281709A5BcD40188AaFfA04A7fEfD?tab=holders" ./bin_k6/k6-tsdb-linux run src/frontend.browser.test.suite.ts

defaults:
  run:
    shell: bash
    working-directory: ./tests/load
